@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e601"; }

.icon-user:before {
  content: "\e605"; }

.icon-password:before {
  content: "\e604"; }

.icon-pdf:before {
  content: "\e608"; }

.icon-dayin:before {
  content: "\e607"; }

.icon-denglu:before {
  content: "\e609"; }

.icon-chakanxiangxi:before {
  content: "\e603"; }

.icon-shanchu:before {
  content: "\e602"; }

.icon-yanzheng:before {
  content: "\e60a"; }

.icon-success:before {
  content: "\e606"; }

.icon-liulan:before {
  content: "\e603"; }

.icon-update:before {
  content: "\e600"; }

.suggest li a:hover, .help-aside .pure-menu-link:hover {
  color: inherit;
  text-decoration: none; }

a, .button-default, .button-primary, .button-info, .button-success, .button-warning, .button-danger, .search-aside-section .classification-item, .search-result-item-title .title-link {
  transition: color 0.25s, background-color 0.25s; }

.dl-horizontal dd, .clearfix, .container, .container-fluid, .index-news-item {
  zoom: 1; }
  .dl-horizontal dd:before, .clearfix:before, .container:before, .container-fluid:before, .index-news-item:before, .dl-horizontal dd:after, .clearfix:after, .container:after, .container-fluid:after, .index-news-item:after {
    content: " ";
    display: block; }
  .dl-horizontal dd:after, .clearfix:after, .container:after, .container-fluid:after, .index-news-item:after {
    clear: both; }

.com-stick-root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.com-stick-footer {
  clear: both;
  position: relative; }

/*!
Pure v0.6.0

http://yui.yahooapis.com/pure/0.6.0/pure-min.css
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.hidden, [hidden] {
  display: none !important; }

.pure-img {
  max-width: 100%;
  height: auto;
  display: block; }

.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -.43em; }

.pure-u {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-g [class*=pure-u] {
  font-family: sans-serif; }

.pure-u-1, .pure-u-1-1, .pure-u-1-12, .pure-u-1-2, .pure-u-1-24, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-2-24, .pure-u-2-3, .pure-u-2-5, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24, .pure-u-3-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-4-24, .pure-u-4-5, .pure-u-5-12, .pure-u-5-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-6-24, .pure-u-7-12, .pure-u-7-24, .pure-u-7-8, .pure-u-8-24, .pure-u-9-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-24 {
  width: 4.1667%; }

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%; }

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%; }

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%; }

.pure-u-1-5 {
  width: 20%; }

.pure-u-5-24 {
  width: 20.8333%; }

.pure-u-1-4, .pure-u-6-24 {
  width: 25%; }

.pure-u-7-24 {
  width: 29.1667%; }

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%; }

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%; }

.pure-u-2-5 {
  width: 40%; }

.pure-u-10-24, .pure-u-5-12 {
  width: 41.6667%; }

.pure-u-11-24 {
  width: 45.8333%; }

.pure-u-1-2, .pure-u-12-24 {
  width: 50%; }

.pure-u-13-24 {
  width: 54.1667%; }

.pure-u-14-24, .pure-u-7-12 {
  width: 58.3333%; }

.pure-u-3-5 {
  width: 60%; }

.pure-u-15-24, .pure-u-5-8 {
  width: 62.5%; }

.pure-u-16-24, .pure-u-2-3 {
  width: 66.6667%; }

.pure-u-17-24 {
  width: 70.8333%; }

.pure-u-18-24, .pure-u-3-4 {
  width: 75%; }

.pure-u-19-24 {
  width: 79.1667%; }

.pure-u-4-5 {
  width: 80%; }

.pure-u-20-24, .pure-u-5-6 {
  width: 83.3333%; }

.pure-u-21-24, .pure-u-7-8 {
  width: 87.5%; }

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%; }

.pure-u-23-24 {
  width: 95.8333%; }

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
  width: 100%; }

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .563em 1em;
  border: 0 transparent;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .pure-button:hover {
    text-decoration: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-form .form-control {
  width: 100%;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .pure-form .form-control:focus {
    border-color: #969696;
    outline: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.2); }

.pure-form .input-lg::-moz-placeholder {
  font-size: 14px;
  padding-top: 2px; }

.pure-form .input-lg:-ms-input-placeholder {
  font-size: 14px;
  padding-top: 2px; }

.pure-form .input-lg::-webkit-input-placeholder {
  font-size: 14px;
  padding-top: 2px; }

.pure-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3; }

.pure-menu-item, .pure-menu-list {
  position: relative; }

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%; }

.pure-menu-heading, .pure-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap; }

.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap; }

.pure-menu-horizontal .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  zoom: 1;
  vertical-align: middle; }

.pure-menu-item .pure-menu-item {
  display: block; }

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3; }

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit; }

.pure-menu-active > .pure-menu-children, .pure-menu-allow-hover:hover > .pure-menu-children {
  display: block;
  position: absolute; }

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: .5em;
  content: "\25B8";
  font-size: small; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE"; }

.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden; }

.pure-menu-scrollable .pure-menu-list {
  display: block; }

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: .5em 0; }

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none; }

.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0; }

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 .3em; }

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64; }

.pure-menu-link {
  color: #777; }

.pure-menu-children {
  background-color: #fff; }

.pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
  padding: .5em 1em; }

.pure-menu-disabled {
  opacity: .5; }

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent; }

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
  background-color: #eee; }

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
  color: #000; }

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #ddd; }

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center; }

.pure-table td, .pure-table th {
  border-left: 1px solid #ddd;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em; }

.pure-table td:first-child, .pure-table th:first-child {
  border-left-width: 0; }

.pure-table thead, .pure-table .thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

.pure-table td {
  background-color: transparent; }

.pure-table-odd td {
  background-color: #f2f2f2; }

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

.pure-table-horizontal td, .pure-table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb; }

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  overflow-x: hidden; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #424f63; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

a {
  color: #2a80b9;
  text-decoration: none; }
  a:hover {
    color: #21638f;
    text-decoration: underline; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 80px;
    clear: left;
    text-align: left; }
  .dl-horizontal dd {
    margin-left: 100px;
    word-wrap: break-word; } }

.global-main {
  margin-top: 40px;
  margin-bottom: 40px; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*
*<div class='com-stick-root'>
*   <div class='com-stick-content'></div>
*</div>
*<div class='com-stick-footer'></div>
*/
html, body {
  height: 100%; }

.com-stick-root {
  margin-bottom: -37px; }
  .com-stick-root .com-stick-root-footer {
    height: 37px; }

.com-stick-footer {
  height: 37px; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.list-unstyled {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.hinge {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s; }

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.button-default {
  color: #fff;
  background-color: #424f63;
  border-color: #424f63; }
  .button-default:focus, .button-default.focus {
    color: #fff;
    background-color: #2e3744;
    border-color: #0f1217; }
  .button-default:hover {
    color: #fff;
    background-color: #2e3744;
    border-color: #2a323e; }
  .button-default:active, .button-default.active,
  .open > .button-default.dropdown-toggle {
    color: #fff;
    background-color: #2e3744;
    border-color: #2a323e; }
    .button-default:active:hover, .button-default:active:focus, .button-default:active.focus, .button-default.active:hover, .button-default.active:focus, .button-default.active.focus,
    .open > .button-default.dropdown-toggle:hover,
    .open > .button-default.dropdown-toggle:focus,
    .open > .button-default.dropdown-toggle.focus {
      color: #fff;
      background-color: #1f252f;
      border-color: #0f1217; }
  .button-default:active, .button-default.active,
  .open > .button-default.dropdown-toggle {
    background-image: none; }
  .button-default.disabled:hover, .button-default.disabled:focus, .button-default.disabled.focus, .button-default[disabled]:hover, .button-default[disabled]:focus, .button-default[disabled].focus,
  fieldset[disabled] .button-default:hover,
  fieldset[disabled] .button-default:focus,
  fieldset[disabled] .button-default.focus {
    background-color: #424f63;
    border-color: #424f63; }
  .button-default .badge {
    color: #424f63;
    background-color: #fff; }

.button-primary {
  color: #fff;
  background-color: #2a80b9;
  border-color: #2a80b9; }
  .button-primary:focus, .button-primary.focus {
    color: #fff;
    background-color: #21638f;
    border-color: #123851; }
  .button-primary:hover {
    color: #fff;
    background-color: #21638f;
    border-color: #1f5d87; }
  .button-primary:active, .button-primary.active,
  .open > .button-primary.dropdown-toggle {
    color: #fff;
    background-color: #21638f;
    border-color: #1f5d87; }
    .button-primary:active:hover, .button-primary:active:focus, .button-primary:active.focus, .button-primary.active:hover, .button-primary.active:focus, .button-primary.active.focus,
    .open > .button-primary.dropdown-toggle:hover,
    .open > .button-primary.dropdown-toggle:focus,
    .open > .button-primary.dropdown-toggle.focus {
      color: #fff;
      background-color: #1a4f72;
      border-color: #123851; }
  .button-primary:active, .button-primary.active,
  .open > .button-primary.dropdown-toggle {
    background-image: none; }
  .button-primary.disabled:hover, .button-primary.disabled:focus, .button-primary.disabled.focus, .button-primary[disabled]:hover, .button-primary[disabled]:focus, .button-primary[disabled].focus,
  fieldset[disabled] .button-primary:hover,
  fieldset[disabled] .button-primary:focus,
  fieldset[disabled] .button-primary.focus {
    background-color: #2a80b9;
    border-color: #2a80b9; }
  .button-primary .badge {
    color: #2a80b9;
    background-color: #fff; }

.button-info {
  color: #fff;
  background-color: #1bbc9d;
  border-color: #1bbc9d; }
  .button-info:focus, .button-info.focus {
    color: #fff;
    background-color: #158f78;
    border-color: #0b4d40; }
  .button-info:hover {
    color: #fff;
    background-color: #158f78;
    border-color: #138670; }
  .button-info:active, .button-info.active,
  .open > .button-info.dropdown-toggle {
    color: #fff;
    background-color: #158f78;
    border-color: #138670; }
    .button-info:active:hover, .button-info:active:focus, .button-info:active.focus, .button-info.active:hover, .button-info.active:focus, .button-info.active.focus,
    .open > .button-info.dropdown-toggle:hover,
    .open > .button-info.dropdown-toggle:focus,
    .open > .button-info.dropdown-toggle.focus {
      color: #fff;
      background-color: #10705e;
      border-color: #0b4d40; }
  .button-info:active, .button-info.active,
  .open > .button-info.dropdown-toggle {
    background-image: none; }
  .button-info.disabled:hover, .button-info.disabled:focus, .button-info.disabled.focus, .button-info[disabled]:hover, .button-info[disabled]:focus, .button-info[disabled].focus,
  fieldset[disabled] .button-info:hover,
  fieldset[disabled] .button-info:focus,
  fieldset[disabled] .button-info.focus {
    background-color: #1bbc9d;
    border-color: #1bbc9d; }
  .button-info .badge {
    color: #1bbc9d;
    background-color: #fff; }

.button-success {
  color: #fff;
  background-color: #2fcc71;
  border-color: #2fcc71; }
  .button-success:focus, .button-success.focus {
    color: #fff;
    background-color: #25a35a;
    border-color: #176438; }
  .button-success:hover {
    color: #fff;
    background-color: #25a35a;
    border-color: #249a55; }
  .button-success:active, .button-success.active,
  .open > .button-success.dropdown-toggle {
    color: #fff;
    background-color: #25a35a;
    border-color: #249a55; }
    .button-success:active:hover, .button-success:active:focus, .button-success:active.focus, .button-success.active:hover, .button-success.active:focus, .button-success.active.focus,
    .open > .button-success.dropdown-toggle:hover,
    .open > .button-success.dropdown-toggle:focus,
    .open > .button-success.dropdown-toggle.focus {
      color: #fff;
      background-color: #1f864a;
      border-color: #176438; }
  .button-success:active, .button-success.active,
  .open > .button-success.dropdown-toggle {
    background-image: none; }
  .button-success.disabled:hover, .button-success.disabled:focus, .button-success.disabled.focus, .button-success[disabled]:hover, .button-success[disabled]:focus, .button-success[disabled].focus,
  fieldset[disabled] .button-success:hover,
  fieldset[disabled] .button-success:focus,
  fieldset[disabled] .button-success.focus {
    background-color: #2fcc71;
    border-color: #2fcc71; }
  .button-success .badge {
    color: #2fcc71;
    background-color: #fff; }

.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
  .button-warning:focus, .button-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #b06d0f; }
  .button-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316; }
  .button-warning:active, .button-warning.active,
  .open > .button-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316; }
    .button-warning:active:hover, .button-warning:active:focus, .button-warning:active.focus, .button-warning.active:hover, .button-warning.active:focus, .button-warning.active.focus,
    .open > .button-warning.dropdown-toggle:hover,
    .open > .button-warning.dropdown-toggle:focus,
    .open > .button-warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #b06d0f; }
  .button-warning:active, .button-warning.active,
  .open > .button-warning.dropdown-toggle {
    background-image: none; }
  .button-warning.disabled:hover, .button-warning.disabled:focus, .button-warning.disabled.focus, .button-warning[disabled]:hover, .button-warning[disabled]:focus, .button-warning[disabled].focus,
  fieldset[disabled] .button-warning:hover,
  fieldset[disabled] .button-warning:focus,
  fieldset[disabled] .button-warning.focus {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
  .button-warning .badge {
    color: #f0ad4e;
    background-color: #fff; }

.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f; }
  .button-danger:focus, .button-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #8b211e; }
  .button-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a; }
  .button-danger:active, .button-danger.active,
  .open > .button-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a; }
    .button-danger:active:hover, .button-danger:active:focus, .button-danger:active.focus, .button-danger.active:hover, .button-danger.active:focus, .button-danger.active.focus,
    .open > .button-danger.dropdown-toggle:hover,
    .open > .button-danger.dropdown-toggle:focus,
    .open > .button-danger.dropdown-toggle.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #8b211e; }
  .button-danger:active, .button-danger.active,
  .open > .button-danger.dropdown-toggle {
    background-image: none; }
  .button-danger.disabled:hover, .button-danger.disabled:focus, .button-danger.disabled.focus, .button-danger[disabled]:hover, .button-danger[disabled]:focus, .button-danger[disabled].focus,
  fieldset[disabled] .button-danger:hover,
  fieldset[disabled] .button-danger:focus,
  fieldset[disabled] .button-danger.focus {
    background-color: #d9534f;
    border-color: #d9534f; }
  .button-danger .badge {
    color: #d9534f;
    background-color: #fff; }

.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.45;
  border-radius: 2px; }

.button-block {
  display: block;
  width: 100%; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: bold; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0; }

.input-group .form-control:focus {
  z-index: 3; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 2px; }

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .pure-button, .input-group-btn:first-child > .pure-button-group > .pure-button, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .pure-button-group:not(:last-child) > .pure-button, .input-group-btn:last-child > .pure-button:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .pure-button-group:not(:first-child) > .pure-button, .input-group-btn:first-child > .pure-button:not(:first-child), .input-group-btn:last-child > .pure-button, .input-group-btn:last-child > .pure-button-group > .pure-button, .input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-btn:last-child > .pure-button:first-child > .pure-button {
  z-index: 2;
  margin-right: -1px; }

.input-group-btn:last-child > .pure-button:last-child > .pure-button {
  z-index: 2;
  margin-left: -1px; }

.form-group {
  margin-bottom: 15px; }

.form-group-lg label {
  font-size: 18px; }

.control-label {
  padding-top: 7px;
  padding-right: 15px;
  margin-bottom: 0;
  text-align: right; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }

.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.45;
  border-radius: 2px; }

select.input-lg {
  height: 49px;
  line-height: 49px; }

textarea.input-lg,
select[multiple].input-lg {
  height: auto; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d; }

.has-success .form-control {
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }

.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }

.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b; }

.has-warning .form-control {
  border-color: #8a6d3b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus {
    border-color: #66512c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }

.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }

.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442; }

.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }

.has-error .form-control-feedback {
  color: #a94442; }

.c-input {
  position: relative;
  display: inline;
  padding-left: 1.5rem;
  color: #555;
  cursor: pointer; }
  .c-input > input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .c-input > input:checked ~ .c-indicator {
      color: #fff;
      background-color: #0074d9;
      box-shadow: none; }
    .c-input > input:focus ~ .c-indicator {
      box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9; }
    .c-input > input:active ~ .c-indicator {
      color: #fff;
      background-color: #84c6ff;
      box-shadow: none; }
  .c-input + .c-input {
    margin-left: 1rem; }

.c-indicator {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 65%;
  line-height: 1rem;
  color: #eee;
  text-align: center;
  user-select: none;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  box-shadow: inset 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1); }

.c-checkbox .c-indicator {
  border-radius: .25rem; }

.c-checkbox input:checked ~ .c-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=); }

.c-checkbox input:indeterminate ~ .c-indicator {
  background-color: #0074d9;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K);
  box-shadow: none; }

.c-radio .c-indicator {
  border-radius: 50%; }

.c-radio input:checked ~ .c-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==); }

.c-inputs-stacked .c-input {
  display: inline; }
  .c-inputs-stacked .c-input::after {
    display: block;
    margin-bottom: .25rem;
    content: ""; }
  .c-inputs-stacked .c-input + .c-input {
    margin-left: 0; }

.c-select {
  display: inline-block;
  max-width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  padding-right: .75rem \9;
  color: #555555;
  vertical-align: middle;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
  background-image: none \9;
  background-size: 8px 10px;
  border: 1px solid #ccc;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .c-select:focus {
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }
  .c-select::-ms-expand {
    opacity: 0; }

.c-select-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px; }
  .c-select-sm:not([multiple]) {
    height: 26px;
    min-height: 26px; }

.file {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 300; }

.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0; }

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.2;
  color: #555;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05); }

.file-custom::after {
  content: "Choose file..."; }

.file-custom::before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: .5rem 1rem;
  color: #555;
  content: "Browse";
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0 .25rem .25rem 0; }

.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9; }

.pagination * {
  display: inline-block;
  vertical-align: top;
  font-size: 12px; }

.pagination .active, .pagination a:hover {
  background-color: #1bbc9d;
  color: white; }

.pagination a, .pagination span {
  height: 26px;
  line-height: 26px;
  margin: 0 3px 6px;
  padding: 0 10px;
  color: #333;
  border-radius: 2px; }

.pagination a {
  text-decoration: none; }
  .pagination a:hover {
    text-decoration: none; }

.alert {
  width: 100%;
  position: absolute;
  padding: 10px 20px;
  left: 0;
  top: 0;
  border-radius: 2px; }
  .alert .close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: inherit; }

.alert-danger {
  background-color: #f4cecd; }
  .alert-danger, .alert-danger * {
    color: #d9534f; }

.breadcrumbs-wrap {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

.breadcrumb {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-left: 5px;
  font-size: 12px; }
  .breadcrumb > li {
    display: inline-block;
    color: #1bbc9d; }
    .breadcrumb > li a {
      color: #1bbc9d; }
    .breadcrumb > li + li:before {
      font-family: SimSun;
      content: "> ";
      padding-left: 10px;
      color: #555; }
  .breadcrumb > .active {
    color: #424f63; }

.steps {
  display: table;
  padding: 20px 0;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 0; }
  .steps > .step-item {
    position: relative;
    display: table-cell;
    float: none;
    width: 1%;
    margin-left: 2px;
    counter-reset: section; }
    .steps > .step-item.active > a {
      color: #1bbc9d;
      background-color: transparent; }
      .steps > .step-item.active > a:before {
        color: #1bbc9d;
        border-color: #1bbc9d;
        background-color: #fff;
        box-shadow: 0 0 0 5px #1bbc9d; }
      .steps > .step-item.active > a:after {
        background-color: #1bbc9d; }
    .steps > .step-item > a {
      position: relative;
      display: block;
      margin-bottom: 0;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      color: #ccc;
      border-radius: 4px;
      background-color: transparent; }
      .steps > .step-item > a:after {
        position: absolute;
        z-index: 1;
        top: -38%;
        right: 0;
        left: 0;
        height: 8px;
        content: '';
        background-color: #ccc; }
      .steps > .step-item > a:before {
        line-height: 2rem;
        position: absolute;
        z-index: 2;
        top: -2rem;
        right: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
        content: counter(section);
        counter-increment: section;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 0 5px #ccc; }
      .steps > .step-item > a.step-1:before {
        content: "1"; }
      .steps > .step-item > a.step-2:before {
        content: "2"; }
      .steps > .step-item > a.step-3:before {
        content: "3"; }
      .steps > .step-item > a.step-4:before {
        content: "4"; }
      .steps > .step-item > a.step-5:before {
        content: "5"; }
      .steps > .step-item > a.step-6:before {
        content: "6"; }

.label {
  display: inline;
  padding: .2em .6em;
  font-size: 75%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px; }
  .label:empty {
    display: none; }
  .btn .label {
    position: relative;
    top: -1px; }

a.label:hover, a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label-default {
  background-color: #777777; }
  .label-default[href]:hover, .label-default[href]:focus {
    background-color: #5e5e5e; }

.label-warning {
  background-color: #f0ad4e; }
  .label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #ec971f; }

.label-danger {
  background-color: #d9534f; }
  .label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #c9302c; }

.validate-msg-error {
  margin-top: 5px;
  color: #d9534f; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.suggest {
  display: none;
  position: absolute;
  z-index: 999999;
  width: 100%;
  max-height: 400px;
  background: white;
  border: 1px solid #ccc;
  overflow-x: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }
  .suggest ul {
    margin: 0;
    padding-left: 0; }
  .suggest li {
    list-style: none; }
    .suggest li a {
      display: block;
      padding: 10px;
      color: #555; }
      .suggest li a:hover {
        background-color: #f1f1f1; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 568px) {
    .container {
      width: 750px; } }
  @media (min-width: 768px) {
    .container {
      width: 970px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.public-header {
  background-color: #1bbc9d;
  border-bottom: 1px solid #e4e4e4; }
  .public-header a {
    color: #fff; }
    .public-header a:hover, .public-header a:focus, .public-header a:active {
      color: #fff;
      background-color: #158f78; }
  .public-header a, .public-header a:hover {
    text-decoration: none; }
  .public-header .register .icon {
    font-size: 18px; }
  .public-header .login-name {
    height: 34px; }
  .public-header .pure-menu-children a {
    background-color: #1bbc9d; }
    .public-header .pure-menu-children a:hover {
      background-color: #158f78; }
  .public-header .public-header-bar {
    display: block; }
    @media (min-width: 768px) {
      .public-header .public-header-bar {
        float: right; } }

.public-footer {
  min-height: 37px;
  background-color: #424f63;
  padding-top: 10px; }
  .public-footer, .public-footer a {
    color: #ddd; }
  .public-footer a {
    display: inline-block;
    margin-right: 2px;
    text-decoration: none; }
    .public-footer a:last-child {
      margin-right: 0; }
    .public-footer a:hover {
      color: #fff;
      text-decoration: underline; }
  @media (max-width: 768px) {
    .public-footer .footer-legal {
      display: block;
      margin-bottom: 10px; } }
  .public-footer .footer-privacy {
    display: block; }
    @media (min-width: 768px) {
      .public-footer .footer-privacy {
        float: right; } }

.user-login label {
  color: #999;
  font-weight: 300; }

.user-login .form-group {
  margin-bottom: 20px; }

.user-login .register-password {
  position: relative; }

.user-login .forget-password {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 100; }

.login-error {
  position: fixed;
  top: 100px;
  z-index: 39891016;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none; }
  @media (min-width: 768px) {
    .login-error {
      width: 400px; } }

.search-area {
  position: relative; }
  .search-area .search-text {
    width: 100%; }
  .search-area .search-btn {
    position: absolute;
    height: 46px;
    background-color: transparent;
    border: 0;
    right: 10px;
    top: 0;
    color: #666; }

@media (max-width: 768px) {
  .index-main {
    width: 100%; } }

.index-main {
  margin: 100px auto 0; }
  @media (min-width: 768px) {
    .index-main {
      width: 768px; } }

.index-search {
  margin-bottom: 40px; }

.index-news {
  margin-bottom: 100px; }

.index-news-content {
  border: 1px solid #ddd;
  border-radius: 2px; }

.index-news-title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee; }

.index-news-list {
  margin-bottom: 10px; }

.index-news-item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eee; }
  .index-news-item:last-child {
    border-bottom: 0; }
  .index-news-item .news-img-warp {
    padding: 2px;
    padding-right: 12px; }
    .index-news-item .news-img-warp .news-img {
      width: 100px;
      height: 100px;
      border-radius: 2px; }
  .index-news-item .label {
    position: absolute;
    right: 10px;
    top: 5px; }
  .index-news-item a {
    text-decoration: none;
    color: #424f63; }
  .index-news-item .news-title {
    margin-top: 0;
    margin-bottom: 8px; }
    .index-news-item .news-title a {
      font-size: 14px; }
      .index-news-item .news-title a:hover {
        color: #1bbc9d; }
  .index-news-item .news-status {
    color: #999;
    margin-bottom: 8px; }
    .index-news-item .news-status a {
      color: #999; }
    .index-news-item .news-status .zg-bull {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px; }

@media (min-width: 768px) {
  .search-aside, .search-result {
    padding-bottom: 40px;
    min-height: 900px; } }

.search-handle {
  border-bottom: 1px solid #f5f5f5; }

.hot-search {
  margin: 10px 0;
  color: #666; }
  .hot-search a {
    color: #666;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }

.search-aside {
  padding: 10px 20px 10px 0;
  box-shadow: inset -5px 0 5px #f5f5f5;
  background-color: #fefefe; }

.search-aside-section {
  margin-bottom: 40px; }
  .search-aside-section .subjectCatagory {
    font-size: 12px;
    margin-bottom: 0; }
  .search-aside-section a:hover {
    text-decoration: none; }
  .search-aside-section .arrow-right, .search-aside-section .text {
    color: #444851; }
  .search-aside-section .arrow-right {
    font-family: SimSun; }
  .search-aside-section .classification-item {
    padding: 10px; }
    .search-aside-section .classification-item:hover, .search-aside-section .classification-item.active {
      background-color: #eee; }
  .search-aside-section .related-list a, .search-aside-section .recent-list a {
    display: inline-block;
    padding: 5px 10px;
    color: #666; }
    .search-aside-section .related-list a:hover, .search-aside-section .recent-list a:hover {
      background-color: #eee; }

.search-aside-title, .result-aside-title {
  background-color: #1bbc9d;
  padding: 5px 10px;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .search-result {
    padding: 10px 20px; } }

.search-result-item {
  padding: 10px;
  border-bottom: 1px dashed #ddd; }
  .search-result-item:last-child {
    border-bottom: 0; }

.search-result-item-title {
  margin-top: 0; }
  .search-result-item-title .index {
    font-weight: 300; }
  .search-result-item-title a {
    word-wrap: break-word; }
  .search-result-item-title .title-link {
    font-weight: 500;
    color: #424f63; }
    .search-result-item-title .title-link:hover {
      color: #1bbc9d; }

.search-result-cas {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  display: block;
  padding-left: 10px; }

.register-main {
  width: 500px;
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 2px;
  margin: 50px auto; }
  .register-main .form-control {
    width: 100%; }
  .register-main .form-group {
    position: relative; }

.search-aside .substance {
  color: #666; }

@media (min-width: 768px) {
  .search-aside .dl-horizontal dt {
    width: 80px;
    font-weight: 600;
    text-align: right; }
  .search-aside .dl-horizontal dd {
    margin-left: 85px; } }

.result-aside-section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px  dashed #ddd; }
  .result-aside-section:last-child {
    border-bottom: 0; }
  .result-aside-section .directory-item {
    padding: 5px; }
    .result-aside-section .directory-item label {
      font-weight: 300; }

.search-result .pure-table .thead {
  background-color: #eff0f4; }

.search-result .pure-table th, .search-result .pure-table td {
  padding: 1em;
  color: #555; }

.favorites-main {
  margin-bottom: 40px; }

.favorites-content {
  margin-top: 40px; }

.favorites-bar {
  margin-bottom: 20px; }
  .favorites-bar .c-input {
    margin-right: 10px;
    margin-left: 15px; }

@media (max-width: 768px) {
  .favorites-bar-checked {
    display: block;
    margin-bottom: 10px; } }

.favorites-table {
  margin-bottom: 20px; }
  .favorites-table thead {
    background-color: #566782;
    color: #fff; }

.article-title {
  font-size: 20px;
  margin: 10px 0;
  text-align: center; }

.page-status {
  color: #999; }
  .page-status .zg-bull {
    margin-left: 10px;
    margin-right: 10px; }

.page-inset {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.7; }
  @media (min-width: 768px) {
    .page-inset {
      padding-left: 20px;
      padding-right: 20px; } }
  .page-inset blockquote {
    margin: 0;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-left: 4px solid #999999;
    word-break: break-word;
    font-size: 15px;
    font-weight: 100;
    line-height: 30px; }
  .page-inset p {
    text-align: justify;
    text-justify: inter-ideograph;
    word-break: initial;
    word-break: break-word;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal; }
  .page-inset table {
    width: 100%; }
    .page-inset table caption {
      text-align: left;
      margin-bottom: 10px; }
    .page-inset table th, .page-inset table td {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center; }
    .page-inset table thead {
      background-color: #f1f1f1; }

.related-articles .related-item {
  padding: 5px; }

.pagenav {
  padding: 5px 0; }
  .pagenav .pagenav_prev {
    text-align: left; }
  @media screen and (min-width: 768px) {
    .pagenav .pagenav_prev, .pagenav .pagenav_next {
      padding-left: 10px;
      padding-right: 10px; } }
  .pagenav .paging {
    color: #969696;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 35px;
    font-size: 16px; }
  .pagenav .article-link {
    font-weight: 600;
    padding-top: 10px;
    overflow: hidden;
    line-height: 25px;
    font-size: 18px; }
    .pagenav .article-link a {
      color: #424f63; }

.forgot-main {
  width: 768px;
  margin: 100px auto; }

.forgot-title {
  font-size: 20px;
  margin-bottom: 20px; }

.forgot-step-1 .verify-sucess, .forgot-step-3 .verify-sucess {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1bbc9d; }

.setting-main {
  padding-bottom: 100px; }

.setting-bar-warp {
  box-shadow: 0 1px 2px #ccc;
  border-bottom: 1px solid #ddd; }

.setting-bar > a {
  display: inline-block;
  padding: 10px;
  color: #424f63;
  text-decoration: none;
  border-bottom: 4px solid transparent; }

.setting-bar .active {
  color: #1bbc9d;
  border-bottom-color: #1bbc9d; }

.setting-tab-content {
  margin-top: 40px; }

.setting-base-item--avatar .avatar-img {
  position: relative; }

.setting-base-item--avatar .upload {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden; }
  .setting-base-item--avatar .upload input {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 400px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
  .setting-base-item--avatar .upload .icon {
    font-size: 4em;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1; }
  .setting-base-item--avatar .upload:hover {
    text-decoration: none; }

.setting-base-item--email {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; }

.help-aside {
  padding-right: 20px; }
  .help-aside .pure-menu-item a.active {
    background-color: #1bbc9d;
    color: #fff; }

@media (max-width: 768px) {
  .help-item {
    margin-top: 20px; } }

.help-item img {
  border: 1px solid #ddd; }

.help-item-greenhand .table {
  width: 100%;
  text-align: left;
  display: table; }
  .help-item-greenhand .table * {
    display: table-cell;
    width: 1%; }

.faqs-item {
  margin-bottom: 40px; }
  .faqs-item h3 {
    margin-top: 0; }
  @media (max-width: 768px) {
    .faqs-item ul {
      padding-left: 0;
      list-style: none; } }

.aptitude-content dt {
  font-weight: 600; }

.aptitude-item {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .aptitude-item h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px; }
  .aptitude-item:last-child {
    border-bottom: 0; }
