.public-footer{
	min-height: 37px;
	background-color: #424f63;
	padding-top: 10px;
	&,a{
		color : #ddd;
	}
	a{
		display: inline-block;
		margin-right: 2px;
		text-decoration: none;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			color:#fff;
			text-decoration: underline;
		}
	}
	.footer-legal{
		@media (max-width: 768px){
			display: block;
			margin-bottom: 10px;
		}
	}
	.footer-privacy{
		display: block;
		@media (min-width: 768px){
			float: right;
		}		
	}
}
