$header-bg : $brand-info;
$header-link: #fff;
.public-header{
	background-color: $header-bg;
	border-bottom: 1px solid #e4e4e4;
	// margin-bottom: 10px;
	a{
		color:$header-link;
		&:hover,&:focus,&:active{
			color:$header-link;
			background-color: darken($header-bg,10%);
		}
	}

	a,a:hover{
		text-decoration: none;
	}
	.register{
		.icon{
			font-size: 18px;
		}
	}
	.login-name{
		height: 34px;
	}
	.pure-menu-children{
		a{
			background-color: $header-bg;
			&:hover{
				background-color: darken($header-bg,10%);
			}
		}
	}
	.public-header-bar{
		display: block;
		@media (min-width: 768px){
			float: right;
		}
	}	
}
