.user-login{
	label{
		color:#999;
		font-weight: 300;
	}
	.form-group{
		margin-bottom: 20px;
	}
	.register-password{
		position: relative;
	}
	.forget-password{
		position: absolute;
		right: 10px;
		top:12px;
		z-index: 100;
	}
}
.login-error{
	@media (min-width: 768px) {
		width: 400px; 		
	}
	position: fixed;
	top: 100px;
	z-index: 39891016; 
	margin: 0 auto;
	left: 0; 
	right: 0;
	display: none;
}