<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header-logedin.html %>
	<!-- head.html end-->

	<!-- 面包屑 -->
	<div class="breadcrumbs-wrap">
		<div class="container">
			<ol class="breadcrumb">
			  <li><a href="index.html">首页</a></li>
			  <li class="active">名录介绍</li>
			</ol>				
		</div>
	</div>

	<!-- 主体内容 -->
	<div class="global-main">
		<div class="container">
			<h1>名录介绍</h1>
			
			<article class="aptitude-content">
				<section class='overview'>
					<p>
						本平台所有数据均来自各国官方数据库信息，并配有专门从业人员即时更新数据，保证所有数据最新。我们将在该页披露所有已存在的数据库及其数据最新信息，供用户参阅。
					</p>
				</section>
				<section class='aptitude-item IECSC' id='IECSC'>   
	        		<h2>中国现有化学物质名录(IECSC)</h2>
					<dl class='dl-horizontal'>
						<dt>简介</dt>
						<dd>IECSC全称为中国现有化学物质名录，由中国环境保护部化学品登记中心（CRC-MEP）发布，收录物质45602种，其中保密物质3166种。IECSC收录了自1992年1月1日至2003年10月15日期间，为了商业目的已在中国境内生产、加工、销售、使用或从国外进口的化学物质。</dd>
					</dl>
					<dl class='dl-horizontal'>
						<dt>收录物质数</dt>
						<dd>45612</dd>
					</dl>
					<dl class='dl-horizontal'>
						<dt>最近更新</dt>
						<dd>2013</dd>
					</dl>
				</section>
				<section class='aptitude-item EINECS' id='EINECS'>   
	        		<h2>欧盟现有化学物质名录(EINECS)</h2>
					<dl class='dl-horizontal'>
						<dt>简介</dt>
						<dd>EINECS全称为欧洲现有商用化学物质名录，由欧盟化学品管理署（ECHA）及欧盟各成员国发布并管理，收录物质100204种。EINECS收录了1971年1月1日至1981年9月18日在欧洲市场的商用化学物质（聚合物除外），依据危险物质指令（67/548/EEC）第18条第1款进行登记的。在REACH法规下被分类为分阶段物质，EC号分配为：2xx-xxx-x或3xx-xxx-x。该名录最近更新时间为2009年。</dd>
					</dl>
					<dl class='dl-horizontal'>
						<dt>收录物质数</dt>
						<dd>100204</dd>
					</dl>
					<dl class='dl-horizontal'>
						<dt>最近更新</dt>
						<dd>2009</dd>
					</dl>
				</section>					
			</article>		
		</div>			
	</div>

   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

