<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header-logedin.html %>
	<!-- head.html end-->
	<!-- 面包屑 -->
	<div class="breadcrumbs-wrap">
		<div class="container">
			<ol class="breadcrumb">
			  <li><a href="index.html">首页</a></li>
			  <li class="active">环保部公示2016年第2批拟批准《新化学物质环境管理登记证》</li>
			</ol>				
		</div>
	</div>
	
	<!-- 主要内容 -->
	<div class="global-main container">
		<article class='artice-content'>
			<h1 class='article-title'>环保部公示2016年第2批拟批准《新化学物质环境管理登记证》</h1>
			<div class="page-status pull-right">
				<span>化学品新闻速递</span>
				<span class="zg-bull">•</span>
				<time datetime="2016-03-09">更新时间：2016-03-09</time>
				<span class="zg-bull">•</span>
				<span>浏览量：300</span>
			</div>
			<div class='page-inset'>
				<p>2016年3月7日，环保部根据《新化学物质环境管理办法》（环境保护部第7号令，以下简称《办法》），对Tribotecc Ges.m.b.H.等9家单位的9份新化学物质常规申报资料进行了审查，符合有关要求，拟批准登记，详见附表。</p>
				<p>这些获得受理号的物质中有1项为“危险类”,1项为“一般类”，7项为“重点环境管理危险类”。环保部2016年3月7日至9日公示期间接受公众咨询。拟批准的登记证详情如下:</p>
				<blockquote>
					只定义了基础的样式，h1,h2,h3,h4,h5,h6,blockquote,table,其他需要根据实际情况增减
				</blockquote>
				<p>附表：</p>
				<table>
					<caption>2016年第2批拟批准的《新化学物质环境管理登记证》明细表</caption>
					<thead>
						<tr>
							<th>序号</th>
							<th>中文名称</th>
							<th>申报人</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>金属硫化物</td>
							<td>Tribotecc Ges.m.b.H.</td>
						</tr>
						<tr>
							<td>1</td>
							<td>金属硫化物</td>
							<td>Tribotecc Ges.m.b.H.</td>
						</tr>
							<tr>
							<td>1</td>
							<td>金属硫化物</td>
							<td>Tribotecc Ges.m.b.H.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="related-articles">
				<h2>相关文章</h2>
				<ul class='list-unstyled'>
					<li class='related-item'>
						<a href="" title="">解读K-REACH 联合提交协议（样本）及OSHA 部分修改</a>
					</li>
					<li class='related-item'>
						<a href="" title="">K-REACH年度报告来袭，大家准备好了吗？！</a>
					</li>
				</ul>
			</div>
			<div class="pagenav pure-g">
				<div class="pagenav_prev pure-u-1 pure-u-md-1-2">
					<span class='paging'>上一篇</span>
					<p class='article-link'><a href="">解读K-REACH 联合提交协议（样本）及OSHA 部分修改</a></p>
				</div>
				<div class="pagenav_next pure-u-1 pure-u-md-1-2">
					<span class='paging'>下一篇</span>
					<p class='article-link'><a href="">K-REACH年度报告来袭，大家准备好了吗？！</a></p>
				</div>
				</div>
		</article>					
	</div>
   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

