<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header.html %>
	<!-- head.html end-->
	<div class="index-main">
		<div class="index-search pure-g">
			<div class="pure-u-1 pure-u-md-1-4"></div>
			<div class="pure-u-1 pure-u-md-1-2">
				<!-- 头部logo -->
				<div class='index-logo'>
					<!-- <img src="" alt=""> -->
					<span style="display: block;font-size: 40px;text-align: center;padding-bottom:20px;color:#2a80b9">
						中国物质检索申报系统
					</span>
				</div>
				<!-- search.html -->
				<% include ./public/search.html %>
				<!-- search.html end-->
			</div>
			<div class="pure-u-1 pure-u-md-1-4"></div>
		</div>
		<div class="index-news pure-g">
			<div class="pure-u-1 pure-u-md-1-4"></div>
			<div class="pure-u-1 pure-u-md-1-2">
				<article class='index-news-content'>
					<h2 class='index-news-title'>最新资讯</h2>
					<ul class='list-unstyled index-news-list'>
						<li class='index-news-item pure-g'>
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="" title="">新闻标题</a></h3>
								<div class='news-status'>
									<a href="">化学品新闻速递</a><span class="zg-bull">•</span><time datetime="2011-01-12">January 12th, 2011</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>
						</li>
						<li class='index-news-item pure-g'>
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="" title="">新闻标题</a></h3>
								<div class='news-status'>
									<a href="">化学品新闻速递</a><span class="zg-bull">•</span><time datetime="2011-01-12">January 12th, 2011</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>
						</li>
						<li class='index-news-item pure-g'>
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="" title="">新闻标题</a></h3>
								<div class='news-status'>
									<a href="">化学品新闻速递</a><span class="zg-bull">•</span><time datetime="2011-01-12">January 12th, 2011</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>
						</li>
						<li class='index-news-item pure-g'>
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="" title="">新闻标题</a></h3>
								<div class='news-status'>
									<a href="">化学品新闻速递</a><span class="zg-bull">•</span><time datetime="2011-01-12">January 12th, 2011</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>
						</li>

						<li class='index-news-item pure-g'>
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="" title="">新闻标题</a></h3>
								<div class='news-status'>
									<a href="">化学品新闻速递</a><span class="zg-bull">•</span><time datetime="2011-01-12">January 12th, 2011</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>
						</li>
					</ul>
				</article>
			</div>
			<div class="pure-u-1 pure-u-md--1-4"></div>
		</div>
	</div>
   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

