<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<!-- head.html -->
<% include ./public/header.html %>
<!-- head.html end-->


<div class="index-main">

	<div class="pure-g">
		<div class="pure-u-1-4"></div>
		<div class="pure-u-1-2">
			<form class="pure-form">
				<div class="input-group">
					
			    <input type="text" class='form-control'>
			    <div class="input-group-btn">
			    	
			    <button type="submit" class="pure-button button-primary">Search</button>
			    </div>

				</div>
			</form>
		</div>
		<div class="pure-u-1-4"></div>
	</div>

</div>






<!-- head.html -->
<% include ./public/footer.html %>
<!-- head.html end-->