<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header.html %>
	<!-- head.html end-->
	<div class="container">
		<div class="index-main">
		<div class="index-search">
			<!-- 头部logo -->
			<div class='index-logo'>
				<!-- <img src="" alt=""> -->
				<span style="display: block;font-size: 40px;text-align: center;padding-bottom:20px;">
					中国物质检索申报系统
				</span>
			</div>
			<!-- search.html -->
			<% include ./public/search.html %>
			<!-- search.html end-->
			<div class='hot-search'>
				<div class='container'>	
					热门搜索 ： <a href="" title="">硫酸</a><a href="" title="">1333-333-3</a>
				</div>
			</div>		
		</div>
		<div class="index-news">
			<article class='index-news-content'>
				<h2 class='index-news-title'>最新资讯</h2>
				<ul class='list-unstyled index-news-list'>
					<li class='index-news-item'>
						<div class="pure-g">
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="article.html" title="环保部公示2016年第2批拟批准《新化学物质环境管理登记证">环保部公示2016年第2批拟批准《新化学物质环境管理登记证</a></h3>
								<div class='news-status'>
									<span>化学品新闻速递</span><span class="zg-bull">•</span><time datetime="2016-03-09">2016-03-09</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>								
						</div>
						<span class='label label-warning'>最新</span>
					</li>
					<li class='index-news-item'>
						<div class="pure-g">
							<div class="news-img-warp pure-u-1 pure-u-md-1-6">
								<img src="http://www.ecbos.com/data/upload/56cfdbf410539.jpg" alt="" class='news-img'>
							</div>
							<div class="news-content-warp pure-u-1 pure-u-md-5-6">
								<h3 class='news-title'><a href="article.html" title="环保部公示2016年第2批拟批准《新化学物质环境管理登记证">环保部公示2016年第2批拟批准《新化学物质环境管理登记证</a></h3>
								<div class='news-status'>
									<span>化学品新闻速递</span><span class="zg-bull">•</span><time datetime="2016-03-09">2016-03-09</time>
								</div>
								<p class='news-summary'>
									<span>摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替摘要需要确定的字数，多出的字数可以用省略号代替……</span>
								</p>
							</div>								
						</div>
						<span class='label label-danger'>热门</span>
					</li>

				</ul>
				<div class="pagination text-right">
					<span class="active">1</span>
					<a href="javascript:;">2</a>
					<a href="javascript:;" >3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<span>…</span>
					<a href="javascript:;" class="pagination-last" title="尾页">尾页</a>
					<a href="javascript:;" class="pagination-next" title="下一页">下一页</a>
				</div>
			</article>
		</div>			
		</div>

	</div>
   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

