<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header-register.html %>
	<!-- head.html end-->
	<div class="breadcrumbs-wrap">
		<div class="container">
			<ol class="breadcrumb">
			  <li><a href="index.html">首页</a></li>
			  <li class="active">找回密码</li>
			</ol>				
		</div>
	</div>	
	<div class="forgot-main">
		<h1 class='forgot-title'>找回密码</h1>
		<section class='forgot-content'>
			<ul class="steps">
				<li class="step-item active">
					<a href="password-forgot.html" title="" class="step-1">输入信息</a>
				</li>
				<li class="step-item active">
					<a href="password-forgot-2.html" title="" class="step-2">重置密码</a>
				</li>
				<li class="step-item active">
					<a href="password-forgot-3.html" title="" class="step-3">完成</a>
				</li>
			</ul>

			<div class="forgot-step forgot-step-3">	
				<div class='text-center '>
				<p class='verify-sucess'>
					<i class='icon icon-success'></i> 恭喜你，重置密码成功！
				</p>
				<p class="verify-desc">
					请牢记您的新密码，并返回<a href="index.html">首页</a>
				</p>					
				</div>


			</div>
		
		</section>
	</div>	

   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

