<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<div class='com-stick-root'>
	<!-- head.html -->
	<% include ./public/header.html %>
	<!-- head.html end-->
	<div class="breadcrumbs-wrap">
		<div class="container">
			<ol class="breadcrumb">
			  <li><a href="index.html">首页</a></li>
			  <li class="active">找回密码</li>
			</ol>				
		</div>
	</div>	
	<div class="forgot-main ">
		<h1 class='forgot-title'>找回密码</h1>
		<section class='forgot-content'>
			<ul class="steps">
				<li class="step-item active">
					<a href="retrieve-password.html" title="" class="step-1">输入信息</a>
				</li>
				<li class="step-item">
					<a href="retrieve-password-2.html" title="" class="step-2">重置密码</a>
				</li>
				<li class="step-item">
					<a href="retrieve-password-3.html" title="" class="step-3">完成</a>
				</li>
			</ul>

			<div class="forgot-step forgot-step-1">
				<form class='pure-form' id='retrieve-password-form'>
					<div class="form-group pure-g">
						<div class="pure-u-1 pure-u-md-1-4"></div>
						<div class="pure-u-1 pure-u-md-1-6">	
						 	<label for="email" class='control-label'>邮箱</label>
						</div>
						 <div class="pure-u-1 pure-u-md-1-3">
						 	<input id="email" name='email' type="email" placeholder="输入绑定的邮箱地址" class='form-control'>
						 </div>
					</div>
			        <div class="form-group pure-g">
						<div class="pure-u-1 pure-u-md-1-4"></div>
			        	<div class="pure-u-1 pure-u-md-1-6">	
						 	<label for="verification" class='control-label'>验证码</label>
						</div>
						 <div class="pure-u-1 pure-u-md-1-6">
						 	<input id="verification" name='verification' type="text" placeholder="输入验证码" class='form-control'>
						 </div>
						 <div class='pure-u-1 pure-u-md-1-6' style='padding-left: 10px;'>
						 	<img src="http://henz.cirscn.com/index.php/Index/index/verify" alt="" height="36px;" width="100%">
						 </div>				 	
					</div>
			        <div class="form-group pure-g">
						<div class="pure-u-1 pure-u-md-1-4"></div>
			            <button type="submit" class="pure-button button-info button-block pure-u-1 pure-u-md-1-2">发送验证邮件</button>
			        </div>
				</form>		

				<!-- 发送验证邮件后 -->
<!-- 				<div class="text-center">
                    <div class="verify-sucess">
                        <i class="icon icon-yanzheng"></i>
                        <span>验证邮件已发送</span>
                    </div>
                    <div class="verify-mail-des">
                        <p>验证邮件已发送至您的邮箱402****@qq.com。验证邮件24小时内有效，请尽快验证，或 <a href="javascript:void(0)" class="verify-mail-handle">重新发送邮件</a></p>
                    </div>
                </div> -->

			</div>
		
		</section>
	</div>	

   <div class='com-stick-root-footer'>
   </div>
</div>

<div class='com-stick-footer'>
	<!-- footer.html -->
	<% include ./public/footer.html %>
	<!-- footer.html end-->
</div>

<!-- login.html -->
<% include ./public/login.html %>
<!-- login.html end-->

