<!-- head.html -->
<% include ./public/head.html %>
<!-- head.html end-->

<!-- head.html -->
<% include ./public/header.html %>
<!-- head.html end-->


<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form">
				<div class="input-group">
					<div class="input-group-btn">
				        <button type="button" class="btn btn-primary btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
				        <ul class="dropdown-menu">
				          <li><a href="#">Action</a></li>
				          <li><a href="#">Another action</a></li>
				          <li><a href="#">Something else here</a></li>
				          <li role="separator" class="divider"></li>
				          <li><a href="#">Separated link</a></li>
				        </ul>
				      </div><!-- /btn-group -->
					<input type="text" class='form-control input-lg'>
					<div class="input-group-btn">
						<button type='button' class='btn btn-primary btn-lg'>
							<i class='fa fa-search'></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style='padding-top: 20px'>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					共检索到2,120条记录
				</div>
			</div>
		</div>
		<div class="col-md-9">

			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class='form-inline'>
						<select class='form-control pull-right'>
							<option>默认排序</option>
							<option>按时间排序</option>
							<option>按字数排序</option>
							<option>按条件排序</option>
						</select>
					</div>
				</div>
				<div class="panel-body">
					<article>
						<section>
							<h3></h3>
						</section>
					</article>
				</div>
			</div>
			

		</div>
	</div>
</div>





<!-- head.html -->
<% include ./public/footer.html %>
<!-- head.html end-->