@import './index-responsive';

.index-main{
	// margin-top: 100px;
	margin: 100px auto 0;
	@media (min-width: 768px){
		width: 768px;
	}
}

// search
.index-search{
	margin-bottom: 40px;
}

// news
.index-news {
	margin-bottom: 100px;
}
.index-news-content{
	border: 1px solid #ddd;
	border-radius: $base-border-radius;
}
.index-news-title{
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.index-news-list{
	margin-bottom: 10px;
}
.index-news-item{
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #eee;
	&:last-child{
		border-bottom: 0;
	}
	@extend %clearfix;

	.news-img-warp{
		padding: 2px;
		padding-right: 12px;
		.news-img{
			width: 100px;
			height: 100px;
			border-radius: $base-border-radius;
		}
	}
	.label{
		position: absolute;
		right: 10px;
		top: 2px;
	}
	a{
		text-decoration: none;
		color:$brand-default;
	}
	.news-title{
		margin-top: 0;
		margin-bottom: 8px;
		a{
			font-size: 14px;
			&:hover{
				color:$brand-info;
			}
		}
	}
	.news-status{
		color: #999;
		margin-bottom: 8px;
		a{
			color:#999;
		}
		.zg-bull{
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}