.setting-main{
	padding-bottom: 100px;
}
.setting-bar-warp{
		box-shadow: 0 1px 2px #ccc;
	border-bottom: 1px solid #ddd;
}
.setting-bar{
	&>a{
		display: inline-block;
		padding: 10px;
		color:$brand-default;
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}
	.active{
		color:$brand-info;
		border-bottom-color: $brand-info;
	}
}
.setting-tab-content{
	margin-top: 40px;
}


// setting-base-item
.setting-base-item--avatar{
	.avatar-img{
		position: relative;
	}
	.upload{
		position: absolute;
		width: 150px;
		height: 150px;
		left: 0;
		top: 0;
		background-color: rgba(255,255,255,.4);
		overflow: hidden;
		input{
			@include opacity(0);
			font-size: 400px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
		.icon{
			font-size: 4em;
			color:white;
			position: absolute;
			right: 10px;
			bottom: 10px;
			z-index: 1;

		}
		&:hover{
			text-decoration: none;
		}
	}
}
.setting-base-item--email{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
