$dl-horizontal-breakpoint:  768px;
$dl-horizontal-offset:      100px;

.dl-horizontal {
  dd {
    @extend %clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      float: left;
      width: ($dl-horizontal-offset - 20);
      clear: left;
      text-align: left;
      // @extend %text-overflow;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      word-wrap: break-word; 
    }
  }
}