//
// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

.clearfix {
  @extend %clearfix;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

// text
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}

// 固定footer函数,为了简化操作，使用了固定的页面布局结构
/*
*<div class='com-stick-root'>
*   <div class='com-stick-content'></div>
*</div>
*<div class='com-stick-footer'></div>
*/
@include sticky-footer(37px);


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}


// list
.list-unstyled{
	padding-left: 0;
    list-style: none;
}